/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background-color: white;
	}

	label {
		font-weight: bold;
	}

	label.loginbox {
		float:left;
		text-align:left;
		width:90px;
		display:block;
		clear:both;
	}

	input.text {
		width:150px;
		clear:both;
	}

	input.submit {
		font-family: "Garamond", "Segoe-UI";
		font-size: 100%;
		font-weight: bold;
		color: #FFF;
		width:100px;
		height:35px;
		margin-top: 5%;
		clear:both;
		border-radius: 8px;
		background: #C06190;
		background-position:left top;

		/*Rounded Corners*/
 		-webkit-border-radius: 10px;
 		-moz-border-radius: 10px;
 		border-radius: 10px;

 		 /*Gradient*/
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

 		/*Shadow*/
 		-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 		-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

 		/*Transition*/
		-webkit-transition: All 0.5s ease;
		-moz-transition: All 0.5s ease;
		-o-transition: All 0.5s ease;
		-ms-transition: All 0.5s ease;
		transition: All 0.5s ease;
	}

	.button {
		padding: 5px 10px 5px 10px;
		color: #FFF;
		border-radius: 8px;
		background: #d11717;
		background-position:left top;

		/*Rounded Corners*/
 		-webkit-border-radius: 10px;
 		-moz-border-radius: 10px;
 		border-radius: 10px;

 		/*Shadow*/
 		-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 		-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

 		/*Gradient*/
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

 		/*Transition*/
		-webkit-transition: All 0.5s ease;
		-moz-transition: All 0.5s ease;
		-o-transition: All 0.5s ease;
		-ms-transition: All 0.5s ease;
		transition: All 0.5s ease;
	}

	.submit:hover {
		background-color: #C1779C;
	}

 	.button:hover {
		background-color: #ff3434;
	}

	table {
		margin: auto;
	}

	tr, td {
		border: 1px solid #000;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
	}

	td {
		text-align: center;
		width:60px;
	}

	span {
		color:grey;
		font-size: 0.8em;
		display:block;
		position: relative;
		clear:both;
	}

	legend {
		font-size: 1.1em;
		font-weight: bold;
		padding: .4em .8em;
		background: white;
		border: 1px solid #BBB;
	}

	fieldset {
		border: 1px solid #BBB;
		padding: 10px;
		position: relative;
		background: #E9E9E9;
		margin-bottom: 10px;
	}

	.btnAvailable {
		width:80px;
		padding: 5px 10px 5px 10px;
		color: #FFF;
		background:transparent url('../img/available.gif') repeat-x left top;
		background-position:left top;

		/*Rounded Corners*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		 
		/*Shadow*/
		-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		
		/*Transition*/
		-webkit-transition: All 0.8s ease;
		-moz-transition: All 0.8s ease;
		-o-transition: All 0.8s ease;
		-ms-transition: All 0.8s ease;
		transition: All 0.8s ease;

	}

	.btnAvailable:hover {
		background-position: 0 150px;
		background-color:green;
	}

	.btnUnavailable {
		width:80px;
		padding: 5px 10px 5px 10px;
		color: #FFF;
		background:transparent url('../img/unavailable.gif') repeat-x left top;
		background-position:left top;

		/*Rounded Corners*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		 
		/*Shadow*/
		-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	}

	.btnOwnBooking {
		width:80px;
		padding: 5px 10px 5px 10px;
		color: #FFF;
		background:transparent url('../img/ownbooking.gif') repeat-x left top;
		background-position:left top;

		/*Rounded Corners*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		 
		/*Shadow*/
		-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		
		/*Transition*/
		-webkit-transition: All 0.8s ease;
		-moz-transition: All 0.8s ease;
		-o-transition: All 0.8s ease;
		-ms-transition: All 0.8s ease;
		transition: All 0.8s ease;
	}

	.btnOwnBooking:hover {
		background-position: 0 150px;
		background-color:black;
	}

	.btnManage {
		width:80px;
		padding: 5px 10px 5px 10px;
		color: #FFF;
		margin-bottom: 10px;
		background:transparent url('../img/a_bg.gif') repeat-x left top;
		background-position:left top;

		/*Rounded Corners*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		 
		/*Shadow*/
		-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
		
		/*Transition*/
		-webkit-transition: All 0.5s ease-in-out;
		-moz-transition: All 0.5s ease-in-out;
		-o-transition: All 0.8s ease-in-out;
		-ms-transition: All 0.8s ease-in-out;
		transition: All 0.8s ease-in-out;

		-webkit-opacity: 0.5;
  		-moz-opacity: 0.5;
  		opacity: 0.5;

	}

	.btnManage:hover {
		background-position: 0 150px;
		background-color:black;
		-webkit-opacity: 1;
  		-moz-opacity: 1;
  		opacity: 1;
	}

	.schedule {
		max-width: 845px;
		border: 1px solid #BBB;
		padding: 10px;
		position: relative;
		background: #E9E9E9;
		margin: auto;
	}

	.heading {
		background-color:#4DB2FA;
		color:white;
		padding:5px;
		font-variant: small-caps;
	}

	.navbar { 
		background-color: #DE4C3C; 
		border: 2px double white;
		padding-top: 5px;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: center;
	}

	.navbutton {
		background: #d11717;
		border: 2px solid #eee;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 2px;
		height: 25px;
		width: 101px;
		line-height: 145%;
		overflow: hidden;
		display: block;

		/*Rounded Corners*/
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		 
		/*Gradient*/
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

		/*Transition*/
		-webkit-transition: All 0.5s ease;
		-moz-transition: All 0.5s ease;
		-o-transition: All 0.5s ease;
		-ms-transition: All 0.5s ease;
		transition: All 0.5s ease;
	}

	.navbutton:hover {
  		width: 200px;
	}

	.navcontainer {
		background-color:#FFD1DB;
	}

	.loginlegend {
		font-variant: small-caps;
	}
	.loginbox { 
		padding-top: 3px;
		padding-left: 3px;
		margin:auto;
	}
	.loginlabel {
		border: 2px solid white;
	}
	.selection {
		margin-top: 0.6em;
		margin-bottom: 0.5em;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 0px;
		background-color: white;
		width:200px;
	}

	a.loginbox:link { color:grey; }
	a.loginbox:visited{ color:grey; }
	a.loginbox:hover{ color:blue; }
	a:link { color:white; border:none; }
	a:visited { color:#FFF9ED; border:none; }
	a:hover { color:#C9F0FF; }

	.row .topmargin5px{ margin-top:5px; }
	.topmargin3px { margin-top:3px; }
	.row .registration { 
		margin-top:12px;
		padding-bottom:6px;
	}

	.row .loginrow {
		margin-top:5px;
		padding-bottom:6px;
		max-width: 340px;
	}

	.container { margin-top:5px; }
	.centerText { text-align:center; }
	.centerObjects {
		text-align:center;
		float:center;
		margin:auto;
		display:block;
		clear:both;
	}

	.grey { background-color: grey; }




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}